.book-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: lightgray;
    padding: 25px;
    text-align: left;
    border-radius: 25px;
}
.book-form-input, .book-form-submit, .book-form-select{
    width: 70%;
    box-sizing: border-box;
}