* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
}

.home,
.login,
.contribute,
.library,
.register {
    display: flex;
    flex-direction: column;
    height: 90vh;
    align-items: center;
    justify-content: center;
}

.login {
    background-image: url('https://elasticbeanstalk-us-east-2-911671307707.s3.us-east-2.amazonaws.com/login.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 4rem;
}

.contribute {
    background-image: url('https://elasticbeanstalk-us-east-2-911671307707.s3.us-east-2.amazonaws.com/contribute.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

.library {
    background-image: url('https://elasticbeanstalk-us-east-2-911671307707.s3.us-east-2.amazonaws.com/library.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 3.5rem;
}
.register{
    background-image: url('https://intepros.com/wp-content/uploads/2017/03/1488388169_stocksnap_tz9j75z2ce-1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 3rem;
}
